@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;700&family=Kalam&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Updock&display=swap');
:root{

    /*Color Theme Swatches in Hex */
    --color1: #F2F2F2;
    --color2: #3D6373;
    --color3: #88B0BF;
    --color4: #BF9E60;
    --color5: #73451D;
    --color6: #323232;

    --text-font: 'Roboto', sans-serif;
    --logo-font: 'Updock', cursive;
    --special-font: 'Kalam', cursive;
    --title-font: 'Hind', sans-serif;
}


footer.std-footer {
    background-color: var(--color2);

    padding: 20px;
}

.std-footer p {
    text-align: center;

    color: white;
    font-family: var(--text-font);
}