@import url('style.css');
/*index.php styles*/
/*section#welcome-section styles*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--light-color);
}
header {
    background: radial-gradient(circle at bottom, var(--primary-color-3), var(--primary-color-2) );
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin-top: 0;
    height: 10vh;
     width: 100% !important;
}
header div {
    margin-right: auto;
    margin-left: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}
header img {
    height: 50px;

}header h1 {
    margin: 0;
    font-size: 24px;
}
header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}
header button{
    margin-right: 40px;
}

header nav ul li {
    display: inline;
}
/*main styles*/
main{
    padding: 20px;
    
}
section#welcome-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-bottom: 40px;
}

section#welcome-section img {
    max-width: 80vh;
    max-height: 600vh;
    height: auto;
    margin-top: 20px;
    margin: auto;
}
section#welcome-section article {
    max-width: 40vh;
    margin: 0 20px;
    flex-wrap: wrap;
    margin: auto;

}
main h2 {
    color: var(--primary-color-1);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 2.5rem

}
section#welcome-section article p {
    font-size: 2rem;
    color: var(--dark-color);

}
/*section#catalog-books styles*/
section#catalog-books {
    text-align: center;
    margin-top: 40px;
}

section#catalog-books article {
    max-width: 60vh;
    margin: 0 auto 20px auto;
}
section#catalog-books article p {
    font-size: 1.5rem;
    color: var(--dark-color);
}
section#catalog-books article a {
    font-size: 1.2rem;
    color: var(--primary-color-5);
    text-decoration: none;
}
section#catalog-books article a:hover {
    text-decoration: underline;
}
#books {
    margin-top: 20px;
    text-align: center;
    flex-direction: column;
    columns: 4;
    gap: 20px;
    margin: auto;
    justify-items: center;
    padding: 20px;
    padding-left: 40px;
}
div.card-product{
    border: 1px solid #ccc;
    background-color: var(--primary-color-1);
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    width: 350px;
    height: 400px;
    margin: 10px;
    display: inline-block;
    vertical-align: top;
}
div.card-product div.image-book{
    height: 200px;
    margin-bottom: 10px;
    background-color: var(--light-color);
}
div.card-product .image-book img {
    max-height: 100%;
    max-width: 100%;
}


/*footer styles*/
footer {
    background-color: var(--primary-color-2);
    color: var(--light-color);
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
}

