@import url('style.css');
/*login.php styles*/

*{
    margin: 0;
}

body{
    background-color: var(--light-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;

}

#area-login{
    background: radial-gradient(circle at bottom, var(--primary-color-3), var(--primary-color-2) );
    margin-top: 100px;
    width: 500px;
    height: 300px;
    display: flex;
    flex-direction: column;
    columns: 1;


}
#area-login p{
    margin-top: 20px;
    margin-left: 10px;
}
#area-login form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    columns: 1;
    gap: 30px;

}
#area-login form input#login{
    border-radius: 20px;
    background: var(--primary-color-3);
    width: 80%;
    margin: auto;

}
#area-login form h1{
    margin-left: 10px;
}
#area-login form div.name{
    display: grid;
    justify-content: left;
    margin-left: 10px;
    font-size: 18px;


}
#area-login form div.password{
    display: grid;
    justify-content: left;
    margin-left: 10px;
    font-size: 18px;


}
#area-login form div.age{
    display: grid;
    justify-content: left;
    margin-left: 10px;
    font-size: 18px;


}
#area-login form div.nickname{
    display: grid;
    justify-content: left;
    margin-left: 10px;
    font-size: 18px;


}
#area-login form div.name input{
    border-radius: 20px;
    background-color: var(--primary-color-3);
    opacity: 60%;

}
#area-login form div.password input{
    border-radius: 20px;
    background-color: var(--primary-color-3);
    opacity: 60%;

}
#area-login form div.age input{
    border-radius: 20px;
    background-color: var(--primary-color-3);
    opacity: 60%;

}

#area-login form div.nickname input{
    border-radius: 20px;
    background-color: var(--primary-color-3);
    opacity: 60%;

}